# configs MySQL para build do Docker

MYSQL_ROOT_PASSWORD: senha-usuario-root
MYSQL_DATABASE: nome-do-banco-de-dados
MYSQL_USER: nome-usuario-avancado
MYSQL_PASSWORD: senha-do-usuario-avancado


# configs Yii2

# CookieValidationKey 
COOKIE_VALIDATION_KEY="utilize-uma-hash-aqui"

# Banco de dados
DB_HOST="db" #mantenha este nome
DB_NAME="nome-do-banco-de-dados-setado-no-docker"
DB_USER="root-ou-usuario-avancado-setado-no-docker"
DB_PASS="respectiva-senha"
